/* Nav Bar */
.navbar-light .navbar-brand {
  color: rgb(0, 0, 0, .9);
  font-size: xx-large;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55);
  font-size: larger;
}

/* Slide Show */
.carousel {
  margin: 50px auto;
  padding: 0px 70px;
  background-color: antiquewhite;
}

.carousel .carousel-item .img-box {
  height: 190px;
  width: 100%;
  position: relative;
}

.carousel .carousel-item img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.carousel .carousel-item h4 {
  font-size: 18px;
  margin: 10px 0;
}

.carousel-item .btn {
  color: rgb(0, 0, 0);
  font-size: 11px;
  text-transform: uppercase;
  transition: box-shadow .5s ease;
  font-weight: bold;
  background: none;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px 10px;
  margin-top: 5px;
  line-height: 16px;
}

.carousel-item .btn:hover {
  color: #fff;
  background: #000;
  border-color: #000;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.8);
}

.carousel .thumb-wrapper {
  text-align: center;
}

.carousel .thumb-content {
  padding: 35px;
}

.carousel-control-prev,
.carousel-control-next {
  height: 100px;
  width: 40px;
  background: none;
  margin: auto 50px;
  background: rgba(0, 0, 0, 0.5);
}

.carousel .item-price {
  font-size: 13px;
  padding: 2px 0;
}

.carousel .item-price strike {
  color: #999;
  margin-right: 5px;
}

.carousel .item-price span {
  color: #00be16;
  font-size: 110%;
}

.carousel .carousel-indicators {
  bottom: -50px;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: rgb(0, 0, 0);
}

.carousel-indicators {
  position: initial;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

/* Book */
.book {
  width: 50%;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: box-shadow .5s ease;
}

.book:hover {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.8);
}

.book-image {
  width: 100%;
  height: auto;
  display: block;
}

.book-inner,
.book-pages::before,
.book-pages::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: left center;
  transition: transform 0.35s ease-in;
}

.book-cover,
.book-pages {
  transform-style: preserve-3d;
}

.book-pages {
  transform: scale(99%, 98%);
  perspective: 20000px;
}

.book-pages::before,
.book-pages::after {
  background-color: #fff;
  background-image: linear-gradient(to right, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.2) 97%, transparent);
  box-shadow: 8px 10px 5px 0 rgb(0 0 0 / 4%);
  content: "";
}

.book-cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.book-back,
.book-pages {
  right: 0;
  bottom: 0;
}

.book-pages::after {
  transition-delay: 0.12s;
}

.book-pages::before {
  transition-delay: 0.105s;
}

.book-pages+.book-pages::after {
  transition-delay: 0.09s;
}

.book-pages+.book-pages::before {
  transition-delay: 0.075s;
}

.book-pages+.book-pages+.book-pages::after {
  transition-delay: 0.06s;
}

.book-pages+.book-pages+.book-pages::before {
  transition-delay: 0.045s;
}

.book-pages+.book-pages+.book-pages+.book-pages::after {
  transition-delay: 0.03s;
}

.book-pages+.book-pages+.book-pages+.book-pages::before {
  transition-delay: 0.015s;
}

.book:hover .book-back,
.book:hover .book-cover::before {
  box-shadow: inset -2px 0 1px rgba(0, 0, 0, 0.075);
}

.book:hover .book-cover {
  transform: rotateY(-40deg);
  transition-delay: 0s;
}

.book:hover .book-pages::after {
  transform: rotateY(-12deg);
}

.book:hover .book-pages::before {
  transform: rotateY(-8deg);
}

.book:hover .book-pages+.book-pages::after {
  transform: rotateY(-20deg);
}

.book:hover .book-pages+.book-pages::before {
  transform: rotateY(-16deg);
}

.book:hover .book-pages+.book-pages+.book-pages::after {
  transform: rotateY(-28deg);
}

.book:hover .book-pages+.book-pages+.book-pages::before {
  transform: rotateY(-24deg);
}

.book:hover .book-pages+.book-pages+.book-pages+.book-pages::after {
  transform: rotateY(-36deg);
}

.book:hover .book-pages+.book-pages+.book-pages+.book-pages::before {
  transform: rotateY(-32deg);
}


/* manual book */
.book-section {
  background-color: #0f5132;
  height: auto;
  width: auto;
  padding: 40px 0;
  text-align: center;
}

.book-section>.container {
  height:38vw;
  width: 50vw;
  position: relative;
  border-radius: 2%;
  margin-bottom: 30px;
  perspective: 1200px;
}

.container>.right {
  position: absolute;
  height: 100%;
  width: 50%;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}

.book-section>.container>.right {
  right: 0;
  transform-origin: left;
  border-radius: 10px 0 0 10px;
}

.right>figure.front,
.right>figure.back {
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  overflow: hidden;
}

.right>figure.front {
  background-color: aliceblue;
  background-position: inherit;
  border-radius: 0 10px 10px 0;
  box-shadow:  13px 11px 5px -3px rgb(0 0 0 / 15%);
}

.right>figure.back {
  background-color: aliceblue;
  background-position: inherit;
  border-radius: 10px 0 0 10px;
  box-shadow:13px 11px 5px -3px rgb(0 0 0 / 7%);
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(-180deg);
  box-shadow: none;
}

.flip::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  box-shadow: none;
}

.book-section>button {
  border: 2px solid #ef9f00;
  background-color: transparent;
  color: #ef9f00;
  padding: 0px 0px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
  transition: 0.3s ease-in-out;
  width: 10vh;
  height: 4vh;
  text-align: center;
}

.book-section>button:focus,
.book-section>button:active {
  outline: none;
}

.book-section>button:hover {
  background-color: #ef9f00;
  color: #fff;
  transition: .4s ease-in-out;
  box-shadow: 2px 2px 15px -2px rgba(0, 0, 0, 0.9);
}

.book-section>p {
  color: rgba(0, 0, 0, 0.7);
  font-family: calibri;
  font-size: 24px;
}

.book-section>p>a {
  text-decoration: none;
  color: #ef9f00;
}


.back h1{
  color: black;
  font-size: 3vw;
}
.back p{
  color: black;
  font-size: 1.3vw;
}




/* Opening Book */

/* .openbook {
  position: absolute;
  width: 41.5rem; 
  height: 44.5rem;
  perspective: 170rem;
}
.cover {
  transform: rotateY(0deg);
  width: 18.66rem;
  height: 28.3rem;
}
.page {
  top: 0.25rem;
  left: 0.65rem;
  background-color: #e9e6c4;
  transform: rotateY(0deg);
  width: 18rem;
  height: 27.8rem;
  text-align: right;
  font-size: 8px;
  color: #777;
  font-family: monospace;
}
.page::before, .page::after {
  display: block;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  content: "";
  padding-bottom: 1rem;
}
.cover, .page {
  position: absolute;
  padding: 1rem;
  transform-origin: 100% 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.cover.turn {
  animation: bookCover 3s forwards;
}
.page.turn {
  animation: bookOpen 3s forwards;
}
.page:nth-of-type(1) {
  animation-delay: 0.05s;
}
.page:nth-of-type(2) {
  animation-delay: 0.33s
}
.page:nth-of-type(3) {
  animation-delay: 0.66s;
}
.page:nth-of-type(4) {
  animation: bookOpen150deg 3s forwards;
  animation-delay: 0.99s;
}
.page:nth-of-type(5) {
  animation: bookOpen30deg 3s forwards;
  animation-delay: 1.2s;
}
.page:nth-of-type(6) {
  animation: bookOpen55deg 3s forwards;
  animation-delay: 1.25s;
}
@keyframes bookOpen {
  30% { z-index: 999 }
  100% {  transform: rotateY(180deg);
    z-index: 999;}
}
@keyframes bookCover {
  30% { z-index: 999 }
  100% {  transform: rotateY(180deg);
    z-index: 1;}
}
@keyframes bookOpen150deg {
  30% { z-index: 999 }
  100% {  transform: rotateY(150deg);
    z-index: 999;}
}
@keyframes bookOpen55deg {
  30% { z-index: 999 }
  100% {  transform: rotateY(55deg);
    z-index: 999;}
}
@keyframes bookOpen30deg {
  50% { z-index: 999 }
  100% {  transform: rotateY(30deg);
    z-index: 999;}
} */

/* Genre Heading */